.flag-bookmark {
  a {
    position: relative;
    padding-left: 36px;

    svg {
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      width: 30px;
      height: auto;
      fill: transparent;
      stroke: currentColor;
    }
  }

  &.action-unflag svg {
    fill: currentColor;
  }
}
