@import "../../mixins/text";

.block-content-banner_block {
  padding: 0 .5rem;
  margin-bottom: 1.5rem;

  @include media-breakpoint-up(lg) {
    margin-bottom: -1rem;
  }

  .content {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $border-radius;
    color: $white;

    h2 {
      @include heading-2;
    }

    p {
      max-width: 100%;

      @include subtitle-400;
      @include media-breakpoint-up(lg) {
        max-width: 50%;
      }
    }

    a {
      padding: .5rem .75rem;
    }
  }
}
