@import "../../mixins/text";

.block-primary {
  background-color: $white;
  border: none;
  border-radius: $border-radius;
  padding: 24px;

  h2 {
    @include heading-5;
    border-bottom: none;
    padding: 0;
    position: relative;
    margin: 0 0 24px;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 32px;
      height: 2px;
      background-color: $blue-100;
    }
  }

  a {
    @include link-no-hover;
  }

  .content {
    margin-top: 1rem;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }

  .views-row {
    padding: 0 12px;
  }
}

.block-background:not(:has(.block-background)):not(:has(.block-primary)):not(:has(article.node--view-mode-full)):not(:has(.views-element-container)),
.path-user .block-background,
.path-employee-directory .block-background .block-background {
  background-color: $white;
  border: none;
  border-radius: $border-radius;
  padding: 24px;

  .content {
    margin-top: 1rem;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }

  .views-row {
    padding: 0 12px;
  }
}

.path-user .block-background .block-background {
  padding: 0 !important;
}

.sidebar .block {
  border-style: none;
  border-width: 0;
  padding: 24px;
}

.block-views-blockrecently-read-content-block-1,
.block-views-blockbookmarks-block-1,
#block-openintranet-theme-links {
  a:not(.btn) {
    @include link-hover;
  }
}
